{block content}

<table class="login">
  <tr>
    <td class="login-col"> <h2>přihlásit se</h2> {control loginForm} </td>
    <td class="login-col"> <h2>registrovat se</h2> {control registerForm} </td>
  </tr>
</table>

{/block}
